{% extends 'base.html' %}
{%  block extra-css %}
<style type="text/css">
     body {
                background-image:url('img/bg.jpg');
                padding:0px 0px;
                margin:0px 0px 0px 0px;
              }
    #map{
        width:600px;
        height:450px;
        padding-bottom:50px;
        padding-top:20px;
    }
    .good{
        background-color: #009933;
        border:black;
        border-style:solid;
    }

    .center{
        position: relative;
        left: -119px;
    }
    input{
        width:240px;
    }

    .bad{
        background-color: #cc3300;
        border:black;
         border-style:solid;
    }
    span
    {
        padding-left:20px;
    }

    img
    {
        padding:0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    #action_bar{
        padding-bottom:30px;
    }
    .pointer{
        cursor:pointer
    }
    .report_but
    {
        margin-right:30px;
    }

    .ui-dialog{
        z-index: 1005;
    }
    .cu_input{
        width:300px;
        position:relative;
        right:5px;
    }
</style>
{% endblock %}
{% block content %}
    <div id='info'>
        <h1>בעל הבית השתגע?</h1>
    <p>
בעל או בעלת הבית שלכם מנסים להעלות לכם את שכר הדירה בכדי שתעמדו מול הברירה הבלתי אפשרית,
        <br>
        <b>
לשלם או לעבוד?
        </b>
        <br>
הוסיפו את כתובת הדירה ואת השינוי בשכר הדירה לאתר זה.
        <br>
        <b>
מחפשים דירה?
        </b>
        <br>
הפגינו סולידריות חברתית, ולפני שתלכו לראות דירה, בדקו האם היא מופיעה באתר.
        <br>
אם בעל או בעלת הדירה אכן העלו את שכר הדירה מהשנה שעברה, 
        <br>
        <b>
אל תלכו לראות את הדירה! הם יעשו לכם ולכן את אותו הדבר בשנה הבאה.
            <br>
לחצו לייק בכדי להודיע שגם אתם לא תשכירו דירה מבעל או בעלת בית שהעלו את שכר בדירה!
            <br>
            <br>
            דווחו, ועזרו להחזיר את כוח המיקוח לשוכרים ולשוכרות!
        </b>
        </p>

    <iframe src="http://www.facebook.com/plugins/like.php?app_id=185151921550951&amp;href=http%3A%2F%2Fdirometer.empeeric.com%2F&amp;send=false&amp;layout=standard&amp;width=320&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:80px;" allowTransparency="true"></iframe>
    <div style="position:relative;bottom:87px; left:-300px;">
        <g:plusone></g:plusone>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    </div>
    <div id="action_bar">
    <span>
        <img src='img/up.png' class="report_but">
        <a href="javascript:showDialog('rent_up_dialog')" >דווח על עליה בשכ"ד</a>
    </span>
      <span>
        <img src='img/down.png' class="report_but">
        <a href="javascript:showDialog('rent_down_dialog')">דווח על ירידה בשכ"ד</a>
      </span>
        <span>
        <img src='img/check.png' class="report_but">
        <a href="javascript:showDialog('check_dialog')">בדוק עליה/ירידה בשכ"ד</a>
         </span>
    </div>
    <div id='map_view'>
        <div id='map'> </div>
    </div>

    <div id='rent_up_dialog'>
        <img src="img/close.png" class="pointer" style="position: relative; left: -408px;z-index:100;"  onclick="closeAll()"/>
        <table style="width:450">
            <thead> <img src="img/rent_up.png" style="position: relative; bottom: 34px;"/> </thead>
            <tr>
                <td>
                    עיר
                </td>
                <td>
                    <input type="text" id="up_city_in">
                </td>
            </tr>
            <tr>
                <td>
רחוב
                </td>
                <td>
                    <input type="text" id="up_street_in">
                </td>
            </tr>
            <tr>
                <td>
מספר בית:
                </td>
                <td>
                    <input type="text" id="up_house_in">
                </td>
            </tr>
            <tr>
                <td>
מספר דירה:
                </td>
                <td>
                    <input type="text" id="up_apr_in">
                </td>
            </tr>
                        <tr>
                <td>
מספר חדרים:
                </td>
                <td>
                    <input type="text" id="up_rooms">
                </td>
            </tr>
            <tr>
                <td>
שכ"ד ישן:
                </td>
                <td>
                    <input type="text" id="up_old_in">
                </td>
            </tr>
            <tr>
                <td>
שכ"ד חדש:
                </td>
                <td>
                    <input type="text" id="up_new_in">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <div class="error" style="color:RED;"></div>
        <img src="img/submit_button.png" class="pointer center" onclick="submit_new_up_rent()"/>
    </div>

     <div id='rent_down_dialog'>
        <img src="img/close.png" class="pointer" style="position: relative; left: -408px;z-index:100;"  onclick="closeAll()"/>
        <table style="width:450">
            <thead> <img src="img/down_rent.png" style="position: relative; bottom: 34px;"/> </thead>
            <tr>
                <td>
                    עיר
                </td>
                <td>
                    <input type="text" id="down_city_in">
                </td>
            </tr>
            <tr>
                <td>
רחוב
                </td>
                <td>
                    <input type="text" id="down_street_in">
                </td>
            </tr>
            <tr>
                <td>
מספר בית:
                </td>
                <td>
                    <input type="text" id="down_house_in">
                </td>
            </tr>
            <tr>
                <td>
מספר דירה:
                </td>
                <td>
                    <input type="text" id="down_apr_in">
                </td>
            </tr>
            <tr>
                <td>
מספר חדרים:
                </td>
                <td>
                    <input type="text" id="down_rooms">
                </td>
            </tr>
            <tr>
                <td>
שכ"ד ישן:
                </td>
                <td>
                    <input type="text" id="down_old_in">
                </td>
            </tr>
            <tr>
                <td>
שכ"ד חדש:
                </td>
                <td>
                    <input type="text" id="down_new_in">
                </td>
            </tr>
        </table>
        <br>
        <br>
         <div class="error" style="color:RED; width:120px" ></div>
        <img src="img/submit_button.png" class="pointer center" onclick="submit_new_low_rent()"/>
    </div>

     <div id='check_dialog'>
        <img src="img/close.png" class="pointer"  style="position: relative; left: -408px;z-index:100;" onclick="closeAll()"/>
        <table style="width:450">
            <thead> <img src="img/rent_up.png" style="position: relative; bottom: 34px;"/> </thead>
            <tr>
                <td>
                    עיר
                </td>
                <td>
                    <input type="text" id="up_city_out" >
                </td>
            </tr>
            <tr>
                <td>
רחוב
                </td>
                <td>
                    <input type="text" id="up_street_out" >
                </td>
            </tr>
            <tr>
                <td>
מספר בית:
                </td>
                <td>
                    <input type="text" id="up_house_out" >
                </td>
            </tr>
            <tr>
                <td>
מספר דירה:
                </td>
                <td>
                    <input type="text" id="up_apr_out" >
                </td>
            </tr>
        </table>
        <br>
        <br>
        <div id='results'></div>
         <div class="error" style="color:RED;"></div>
        <img src="img/bdotBT.png" class="pointer center" onclick="check_adrs()"/>

    </div>

    
     <div id='contact_us_dialog'>

         <img src="img/close.png" class="pointer"  style="position: relative; left: -408px;z-index:100;" onclick="closeAll()"/>
         <form action="http://sobo.empeeric.com/contact_us" method="POST" id="cu_form" target="target_frame">
        <table style="width:450">
            <thead>
                <img src="img/ContactUS.png" USEMAP="#contactus" BORDER=0 style="position: relative;top: -55px;width: 460px;">
                <map name="contactus">
                  <area name="EmpMap" shape="rect" target="_blank" coords="385,20,484,114" href="http://maps.google.com/maps?q=Empeeric,+HaArba'a,+Tel+Aviv,+Israel&hl=iw&ie=UTF8&view=map&cid=8231709356392748197&iwloc=A&ved=0CBcQpQY&sa=X&ei=EwNBTrTnFsepjgeAp4X2DA"  alt="" title="">
                  <area shape="linkedIn" coords="246,22,265,41" href="http://www.linkedin.com/company/empeeric"  alt="" title="" target="_blank">
                  <area shape="twiter" coords="219,22,238,41" href="http://twitter.com/#!/empeeric"  alt="" title="" target="_blank">
                  <area shape="facebook" coords="194,22,213,41" href="https://www.facebook.com/pages/Empeeric/118595041499083"  alt="" title="" target="_blank">
                  <area shape="mail" coords="197,70,318,83" href="mailto:info@empeeric.com"  alt="" title="">
                </map>
            </thead>
            <tr>
                <td>
            <tr>
                <td>
שם:
                </td>
                <td>
                    <input type="text" id="name_in" name="senders_name" class="cu_input">
                </td>
            </tr>
            <tr>
                <td>
מייל:
                </td>
                <td>
                    <input type="text" id="mail_in" name="senders_email" class="cu_input">
                </td>
            </tr>
            <tr>
                <td>
כותרת ההודעה:
                </td>
                <td>
                    <input type="text" id="title_in" name="message_subject" class="cu_input">
                </td>
            </tr>
            <tr>
                    <td>
תוכן ההודעה:
                    </td>
                    <td>
                        <textarea  id="msg_in" name="message_content" class="cu_input"></textarea>
                    </td>
            </tr>
        </table>
         </form>
        <br>
        <br>
        <div id='results'></div>
         <div class="error" style="color:RED;"></div>
        <img src="img/SHLSCH.png" class="pointer center" id="cu_btn"/>

    </div>
    <iframe id="target" style="width:0px;height:0px; display:none;" name="target_frame"></iframe>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function submit_new_up_rent(id){
        var city=$('#up_city_in').val();
        var street=$('#up_street_in').val();
        var apr=$('#up_apr_in').val();
        var house=$('#up_house_in').val();
        var old=$('#up_old_in').val();
        var newP=$('#up_new_in').val();
        var rooms=$('#up_rooms').val();
        if (city==""||street==""||house==""||old==""||newP==""){
            $('.error').html("בכדי לדווח על דירה יש צורך בשם העיר, הרחוב והבניין")
        }else{
            $.ajax({
                    type: "POST",
                  url: 'api/addReport',
                  data:"city="+city+
                            "&street="+street+
                            "&address="+house+
                            "&apartment="+apr+
                            "&oldPrice="+old+
                            "&newPrice="+newP+
                            "&rooms="+rooms,
                  success: function(data) {
                    closeAll();
                      window.location.reload();
                  }
                });
        }
    }

    function contact_us(){
       $('#cu_form').submit();
        closeAll();
    }

    function submit_new_low_rent(id){
        var city=$('#down_city_in').val();
        var street=$('#down_street_in').val();
        var apr=$('#down_apr_in').val();
        var house=$('#down_house_in').val();
        var old=$('#down_old_in').val();
        var newP=$('#down_new_in').val();
        var rooms=$('#down_rooms').val();
        if (city==""||street==""||house==""||old==""||newP==""){
            $('.error').html("בכדי לדווח על דירה יש צורך בשם העיר, הרחוב והבניין")
        }else{
            $.ajax({
                    type: "POST",
                  url: 'api/addReport',
                  data:"city="+city+
                            "&street="+street+
                            "&address="+house+
                            "&apartment="+apr+
                            "&oldPrice="+old+
                            "&newPrice="+newP,
                  success: function(data) {
                    closeAll();
                      window.location.reload();
                  }
                });
        }
    }

    function check_adrs(){
        var city=$('#up_city_out').val();
        var street=$('#up_street_out').val();
        var apr=$('#up_apr_out').val();
        var house=$('#up_house_out').val();
        var old=$('#up_old_out').val();
        var newP=$('#up_new_out').val();
        if (city==""||street==""||house==""){
            $('.error').html("בכדי לבדוק דירה יש להכניס שם עיר, רחוב, ובניין. ניתן לראות מידע כללי במפה.")
        }else{
            $.ajax({
                    type: "POST",
                  url: 'api/check',
                  data:"city="+city+
                            "&street="+street+
                            "&address="+house+
                            "&apartment="+apr,
                  success: function(data) {
                    var results=data.split(' ');
                    var str="";
                      //alert(data);
                    if (results.length==1){
                        str=    "  לא אותרה העלאת שכר דירה בכתובת זו.";
                        var ih='<p class="good">'+str+'</p>';
                        $('#results').html(ih);
                    }
                      else{
                        str=  " אותרה העלאת שכר דירה בבניין "  ;
                        str+="<br>";
                        for (var i=0;i<results.length-1;i++){
                            str+= " -בדירה: ";
                            if (results[i]>=0)
                                str+=results[i];
                            else str+="שמספרה לא צויין";
                            str+="<br>";
                        }
                         var ih='<p class="bad">'+str+'</p>';
                        $('#results').html(ih);
                    }
                  }
                });
          }
    }
    function showDialog(id){
        $('#'+id).dialog('open');
    }

    function closeAll(){
        $('#check_dialog').dialog('close');
        $('#rent_up_dialog').dialog('close');
        $('#rent_down_dialog').dialog('close');
        $('#contact_us_dialog').dialog('close');
        $('.error').html('');
    }

    $(document).ready(function(){
       init_map('map');
    
       $('#cu_btn').click(contact_us);
       $('#rent_up_dialog').dialog({
                    autoOpen: false,
                 //   dialogClass: 'alert',
                   width:580,
                    zIndex:1005
               });
         $('#rent_down_dialog').dialog({
                    autoOpen: false,
                 //  dialogClass: 'alert',
                    width:580,
                    zIndex:1006
               });
        $('#check_dialog').dialog({
                    autoOpen: false,
                 //   dialogClass: 'alert',
                    width:570,
                    zIndex:1007
               });
        $('#contact_us_dialog').dialog({
                    autoOpen: false,
                 //  dialogClass: 'alert',
                   width:580,
                    zIndex:1008
               });
        {% for r in BAD_LIST%}

            addMarker( {{r.lng}} , {{r.lat}} ,'{{r.street}}','{{r.address}}', '{{r.old_price}}' ,'{{r.new_price}}','{{ r.apartment }}',{{ r.num_of_rooms }});

         {%endfor%}

        redrawMarkers();
    });
</script>
{% endblock %}